<!-- templates/cats/index.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Doggos</title>
  </head>
  <body>
    <h1>The Doggos</h1>
    <b><a href="/dogs/create">Add a New Dog!</a></b>
    {% for dog in dogs %}
        <p>Name:
            <a href="/dogs/{{dog.id}}">
                {{ dog.name }}
            </a>
        </p>
        <h1>υ´• ﻌ •`υ</h1>
        {% if dog.age > 0 %}
            <p>Age: {{ dog.age }}</p>
        {% else %}
            <p>Age: Pupper</p>
        {% endif %}
        <hr />
    {% endfor %}
    <hr />

    <footer>All Rights Reserved, catcollector 2018</footer>
  </body>
</html>