<!-- templates/cats/index.html -->
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Album Collector</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  </head>
  <body>


    <p>Artist: {{ album.artist }}</p>
    <p>Album: {{ album.albumName }}</p>
    <p>Genre: {{ album.genre }}</p>
    <p>Year of Release: {{ album.yearOfRelease }}</p>
    <hr />

  <a href="/albums/">Back to index</a>


    <footer>All Rights Reserved, chrislee 2022</footer>
  </body>
</html>
