<!-- main_app/templates/dogs/show.html -->

{% extends 'base.html' %}
{% load static %}
{% block content %}


<h3>Dog List</h3>
<hr />
<div class="card-panel">
<a class="black-text text-darken-2" href="/dogs/create">Add a New Dog!</a>
</div>
<hr />
 <div class="container">
    {% for dog in dogs %}
    <div class="card-panel grey lighten-2"> 
  <a href="/dogs/{{dog.id}}">
    <h5>Name: {{ dog.name }}</h5>
</a>
<a href="/user/{{dog.user.username}}">
    <p>Adopted By: {{dog.user.username }}</p>
</a>
  {% if dog.age > 0 %}
    <p>Age: {{ dog.age }}</p>
  {% else %}
    <p>Age: puppy</p>
  {% endif %}
  <p>Description: {{ dog.description }}</p>
</div>
    <hr />
    {% endfor %}
</div>
{% endblock %}