<!-- main_app/templates/cats/show.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">

    <h2> Name: {{ dog.name }}</h1>
    <p> Breed: {{ dog.breed }}</p>
    <p> Description: {{ dog.description }}</p>
    {% if dog.age > 0 %}
    <p>Age: {{ dog.age }}</p>
  {% else %}
    <p>Age: puppy</p>
  {% endif %}

    <a class="btn" href="{% url 'dogs_update' dog.id %}">Update {{ dog.name }}</a>
    <a class="btn" href="{% url 'dogs_delete' dog.id %}">DELETE {{ dog.name }}</a>
</div>
<hr />
<a href="/dogs/">Back to index</a>
{% endblock %}