{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>All Mutants All The Time</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <h2>The All-New, All-Different, Here We Go Again</h2>
        <h3><a href="/issues/create">Add a New Issue</a></h3>
        <hr />

            {% block content %}
            {% endblock %}

        <footer>
            All Rights Reserved, Merry Mutants 2022
        </footer>
    </body>
</html>
